<%= link_to("<< Back to List", schedules_path, :class => 'back-link') %>

<div class="container-fluid">
  <h2>Create Schedule delivery</h2>

  <%= form_tag(schedules_path, method: :post, class: 'form-group w-25') do %>
  
    <%= label_tag 'Trucker id' %><%= text_field_tag(:trucker_id, nil, required:true, class: 'form-control') %></br>
    <%= label_tag 'Date' %><%= date_field_tag :delivery_date, :date, class: "form-control",value: try(:strftime,"%m/%d/%Y"), required: true %></br>


    <div class="btn btn-primary">

      <%= submit_tag("Create Order schedule", class: "btn btn-primary") %>
    </div>

  <% end %>
</div>