<div class="container w-50">
  <h1>Deliveries</h1>
  <p>Find all of Delivery Sequences! <%= link_to("New Delivery Sequence", new_delivery_path, :class => 'btn btn-primary') %> </p>

  <table class="table table-hover table-bordered table-success">
    <tr class="header thead-dark">
      <th>Id </th>
      <th>Order ids</th>
      <th>Schedule id</th>
      <th>sequence</th>
      <th>Status</th>
    </tr>

    <% @deliveries.each do |d| %>
      <tr>
        <td> <%= d.id %></td>
        <td> <%= d.order_id %></td>
        <td> <%= d.schedule_id %></td>
        <td> <%= d.sequence %></td>
        <td> <%= d.status %></td>
      </tr>
        
    <% end %>
  </table>
</div>


