<div class="container">
  <h1>Orders</h1>
  <p>Find all unassigned orders!</p>
<%= form_tag(deliveries_path, method: :post, class: 'form-group w-50') do %>
  <table class="table table-hover">
    <tr class="header thead-dark">
      <th>#</th>
      <th>Name</th>
      <th>Address</th>
      <th>lat, lng</th>
      <th>status</th>
      <th>Action</th>
      <th>Add</th>
    </tr>

    <% @orders.each do |o| %>
      <tr>
        <td> <%= o.id %> </td>
        <td> <%= o.name %></td>
        <td> <%= o.address %></td>
        <td> <%= o.lat %>, <%=o.lng %></td>
        <td><%= o.status %></td>
        <td class="actions">
          <%= link_to("Show", order_path(o), :class => 'action_show') %>
        </td>
        <td>
        <%= check_box_tag('order_ids[]', o.id, false, class: "order_checkbox") %></td>
      </tr>
    <% end %>
  </table>
    <%= select_tag :schedule_id, options_from_collection_for_select(@schedules, "id", "schedule_name"), class: "form-control", required: true, prompt: "Please select a Schedule" %></br>
    <%= submit_tag "Set Schedule", class: "btn btn-primary", id: "schedule-btn", disabled: true, "data-disable-with": "Please wait.." %>
  <% end %>

</div>

<div class="container">
    <h1>Orders</h1>
    <p>Find all Assigned orders!</p>
  <table class="table table-bordered table-success">
      <tr class="header thead-dark">
        <th>#</th>
        <th>status</th>
        <th>Schedule id</th>
      </tr>

      <% @assigned_orders.each do |o| %>
        <tr class = "assigned_orders">
          <td> <%= o.id %> </td>
          <td><%= o.status %></td>
          <td class = "assigned_order_id"><%= o.schedule_id %></td>
        </tr>
      <% end %>
    </table>
</div>

