<%= link_to("<< Back to List", orders_path, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Subject</h2>

  <%= form_for(@order, :url => orders_path, :method => 'post') do |f| %>

    <table summary="Subject form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Latitude</th>
        <td><%= f.text_field(:lat) %></td>
      </tr>
      <tr>
        <th>Longitude</th>
        <td><%= f.text_field(:lng) %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td>
          <%= f.select :status, ['Created', 'Delivered']%>
        </td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create Order") %>
    </div>

  <% end %>
</div>