<%= link_to("<< Back to List", orders_path, :class => 'back-link') %>

<div>
  <h2>Create Order</h2>

  <%= form_for(@order, :url => orders_path, :method => 'post', :class => "form-group") do |f| %>

    <table summary="Subject form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name, class: "form-control") %></td>
      </tr>
      <tr>
        <th>Address</th>
        <td><%= f.text_field(:address, class: "form-control") %></td>
      </tr>
      <tr>
        <th>Latitude</th>
        <td><%= f.text_field(:lat, class: "form-control") %></td>
      </tr>
      <tr>
        <th>Longitude</th>
        <td><%= f.text_field(:lng, class: "form-control") %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td>
          <%= f.select(:status, ['created', 'delivered', 'assigned', 'pending'], {}, class: "form-control") %>
        </td>
      </tr>
    </table>
    </br>

    <div class="form-buttons">
      <%= f.submit("Create Order", class: "btn btn-primary") %>
    </div>

  <% end %>
</div>