<!DOCTYPE html>
<html>
  <head>
    <title>Truckers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/deliveries/new">TruckersApp</a>
    <form class="form-inline">
      <button class="btn btn-outline-primary" type="button"  onclick="window.location.href = '/schedules';">Schedules</button>
      
      <div style="padding-left: 10px;">
        <button class="btn btn-outline-secondary" type="button" onclick="window.location.href = '/deliveries/new';">Orders</button>
      </div>
      <div style="padding-left: 10px;">
        <button class="btn btn-outline-success" type="button"  onclick="window.location.href = '/truckers';">Truckers</button>
      </div>
    </form>
  </nav>  
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> alert-dismissible fade show" role="alert">
      <%= message %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
